.Updates{
    width: 85%;
    background:#303030;
    border-radius: 0.7rem;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    height: 80vh;
    overflow: auto;
}

.update{
    display: flex;
    gap: 0.5rem;
}

.update>a>img{
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
}

.noti>div>span:nth-of-type(1){
    font-weight: bold;
}