.MainDash{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.myCard{
    transition: 1s;
}

.aiColor{
    color: var(--pink);
}

@media screen and (max-width: 1200px){
    .MainDash{
        justify-content: flex-start;
        margin-top: 2rem;
    }
    .inpTxt{
        width: 60% !important;
    }
}

@media screen and (max-width: 768px){
    .MainDash{
        align-items: center;
    }
}

@media screen and (max-width: 570px){
    .mysection{
        width: 70%;
    }
    .RightSide{
        margin: auto;
        width: 70% !important;
    }
}