:root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: rgb(2 8 10 / 54%);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}

.App{
  background: linear-gradient(to left bottom, #8f9f9f, #272b2b, #202324, #2c3232, #121415, #12171a, #121a1f, #121d24, #122c36, #0e3d45, #094e52, #0f605b);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: whitesmoke ;
  }

.appGlass{
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-color: var(--glass);
  grid-template-columns: 11rem auto 24rem;
}

@media screen and (max-width: 1200px){
  .appGlass{
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px){
  .appGlass{
      grid-template-columns: 1fr;
  }
  .appGlass::-webkit-scrollbar{
    display: none;
  }
}